
    <!--Navigation Bar-->
    <%- include("partials/navbar.ejs") %>

    <!--Main-->
    <main class="main">
      <img class="bgimage" src="resources/Vector2.png" alt="bacgkround image" />

      <div class="slogan">
        <h1 class="heading">Navigate Your Career with Precision</h1>
        <h4 class="smalltext">Craft Your Resume in Minutes</h4>
        <div class="buttons">
          <a href="/templates" class="getstarted">Get Started</a>
        </div>
      </div>

      <div class="templates">
        <img src="resources/template1.jpg" alt="" class="template template1" />
        <img src="resources/template2.jpg" alt="" class="template template2" />
      </div>
    </main>

    <hr class="section-divider" />
    <!--Features-->
    <section class="features">
      <div class="feature">
        <img
          src="resources/savetime.png"
          alt="Clock Icon"
          class="feature-icon"
        />
        <h2 class="featureheading">Save Time</h2>
        <p class="featdesc">
          Craft your resume in minutes. Save time of manually creating your
          resume.
        </p>
      </div>
      <div class="feature">
        <img
          src="resources/choices.png"
          alt="Template Icon"
          class="feature-icon"
        />
        <h2 class="featureheading">Different Templates</h2>
        <p class="featdesc">
          Select your preferred template before crafting your resume.
        </p>
      </div>
      
    </section>

    <hr class="section-divider" />
    <!--Hero-->
    <section class="hero">
      <h1>Start Building Your Resume Now!</h1>
      <p>Create a standout resume effortlessly with our user-friendly tool.</p>
      <a href="/templates" class="cta-button">Get Started</a>
    </section>
  </body>
</html>
