<%- include("partials/navbar.ejs") %>

<center class="choose-template">
    <h2>Select a Template</h2>
    <div class="template-enclose">
    <div class="temp-1">
      <a href="/form1"><img class="resume-template-1" src="resources/resume1.jpeg" alt=""></a> 
    </div>
    <div class="temp-2">
      <a href="/form2"><img class="resume-template-1" src="resources/resume2.png" alt=""></a>
    </div>
    <div class="temp-3">
        <a href="/form3"><img class="resume-template-1" src="resources/resume3.png" alt=""></a>
    </div>
    <div class="temp-4">
      
  </div>
  </div>
</center>    

<!--Footer-->

</body>
</html>



